.nav-active {
  color: #36AA76;
}

.my-nav{
      text-decoration: none;
      margin: 0 25px 0 25px;
      color: black !important;
      font-family: 'Nunito Sans',sans-serif;
    }

.my-nav:hover {
    color: #36AA76;
    text-decoration: none;
 }

